.media-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  svg {
    fill: $white;
    transition: all 0.3s;
  }
  &:hover {
    border: 1px solid $gray-4;
    background-color: $white;
    svg,
    path {
      fill: $gray-4;
    }
  }
}
.footer-logo {
  width: 200px;
  height: 32px;
}
